{extend name="layout/table_base"}
{block name="field_title"}
<div class="layui-breadcrumb bread" style=" margin-top: 15px;margin-bottom: 13px;" >
    <!-- <div class="layui-breadcrumb "  > -->
    <span style="font-size: 18px;">当前位置: &nbsp;</span>
    <a href="{:url('admin/index/home')}">首页</a> 
    <a href="#">采购合同管理</a>
    <!-- <a href="">亚太地区</a> -->
    <a><cite>供货记录</cite></a>
</div>
{/block}
{block name="toolbar"}
<div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="getCheckData">批量删除</button>
</div>

{/block}
{block name="header"}
<form class="layui-form" action="#">
    <div class="item" style="margin-left: -41px;">
        <label >供应商 </label>
        <div class="layui-input-inline" style="margin-left: 10px;">
            <div class="layui-input-inline">
                <input type="text" name="search_val" id="search_val" placeholder="供应商名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="item" style="margin-left: -30px;">
        <label>车号</label>
        <div class="layui-input-inline">
            <div class="layui-input-inline">
                <input type="text" name="search_val" id="search_val" placeholder="请输入车号" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="item" style="margin-left: -30px;">
        <label>货品名称</label>
        <div class="layui-input-inline">
            <div class="layui-input-inline">
                <input type="text" name="search_val" id="search_val" placeholder="请输入货品名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="item" style="margin-left: -30px;">
        <label>货品规格 </label>
        <div class="layui-input-inline" style="margin-right: 100px;">
            <div class="layui-input-inline">
                <input type="text" name="search_val" id="search_val" placeholder="请输入货品规格" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="item">
        <label class="layui-form-label" style="margin-left: -47px;">开始时间</label>
        <div class="layui-input-inline">
            <div class="layui-inline" id="" style="margin-left: -10px;">
                <div class="layui-input-inline">
                  <input type="text" autocomplete="off" id="test6" name="main[expir_time]" class="layui-input" placeholder="开始时间">
                </div>
                <!-- <div class="layui-form-mid">-</div> -->
                <span style="margin-left: 16px;">结束时间</span>
                <div class="layui-input-inline">
                  <input type="text" autocomplete="off" id="test61" class="layui-input" placeholder="结束时间">
                </div>
              </div>
        </div>
    </div>

    <!-- <div class="item" style="margin-left: -23px;">
        <label>公司名称 </label>
        <div class="layui-input-inline">
            <select name="search_key" lay-verify="required" id="search_key">
                <option value="">选择搜索类型</option>
                {volist name="search_info" id="vo"}
                    <option value="{$key}">{$vo}</option>
                {/volist}
            </select>
        </div>
    </div> -->
    <!-- <div class="item">
        <div class="layui-input-inline">
            <input type="text" name="search_val" id="search_val" placeholder="搜索内容" autocomplete="off"
                   class="layui-input">
        </div>
    </div> -->
    <button type="button" style="width: 50px;" id="search" class="layui-btn layui-btn-sm " data-type="reload">
        <i class="layui-icon">&#xe615;</i>
    </button>
    <button type="button" style="width: 50px;" id="add" class="layui-btn layui-btn-sm ">
        <i class="layui-icon">&#xe654;</i>
    </button>
    <div style="position: absolute;right: 50px;">
        <a href="javascript:location.reload();" style="width: 50px;" class="layui-btn layui-btn-sm ">
            <i class="layui-icon">&#xe669;</i>
        </a>
    </div>
</form>
{/block}
{block name="table_bar"}
<img lay-event="edit" src="/public/static/images/icon/see_detial.png" style="margin-top: -4px;width: 12px;" alt="">
    <a  lay-event="edit" style="margin-left: -8px;">查看详情</a>
<!-- <a  lay-event="edit">编辑</a>
<a  lay-event="del">删除</a> -->
{/block}
{block name="table_data"}
<script type="text/javascript">
    layui.use(['table','laydate'], function () {
        var table = layui.table;
        var laydate=layui.laydate;
        laydate.render({
                elem:'#test6'
                ,type: 'datetime'
                ,value:'{:date("Y-m-d H:i:s")}'
                // ,range: ['#test-startDate-1', '#test-endDate-1']
            })
            laydate.render({
                elem:'#test61'
                ,type: 'datetime'
                ,value:'{:date("Y-m-d H:i:s")}'
                // ,range: ['#test-startDate-1', '#test-endDate-1']
            })
        table.render({
            elem: '#table_ele'
            , url: '{:url("getNeedList")}'
            , limit: 10
            , limits: [10,15,20]
            // , width : 1067
            , loading: true
            , title: '大类列表'
            , cols: [[
                 {field: 'id', title: '进货编号',sort:"true", width:100, fixed:'left', unresize: true, align: 'center'},
                 {field: 'id', title: '车号',sort:"true", width:100,  unresize: true, align: 'center'}
                 , {field: 'proposer', title: '发货', width:130, align: 'center'}
                 , {field: 'proposer', title: '收货', width:130, align: 'center'}
                 , {field: 'c_name', title: '货品名称', width: 120}
                , {field: 'c_name', title: '货品规格', width: 120}
                ,{field: 'pur_num', title: '存放地', width:130,align: 'center'}
                ,{field: 'pur_num', title: '毛重', width:130,align: 'center'}
                ,{field: 'pur_num', title: '皮重', width:130,align: 'center'}
                ,{field: 'pur_num', title: '净重', width:130,align: 'center'}
                , {field: 'proposer', title: '方量/吨', width:130, align: 'center'}
                ,{field: 'pur_num', title: '对方净重', width:130,align: 'center'}
                , {field: 'expir_time', title: '进站时间', width: 210,align: 'center'}
                , {field: 'expir_time', title: '出站时间', width: 210,align: 'center'}
                , {field:"uid",title:'单价',width:120,align: 'center'}
                , {field: 'material_id', title: '金额', width: 100, align: 'center'}
                , {field: 'c_name', title: '站名', width: 120}
                , {field:"remark",title:'备注',width:120,align: 'center'}
                , {field: 'c_name', title: '折方系数', width: 120}
                , {field: 'c_name', title: '操作员', width: 120}
                  , {field: 'c_name', title: '修改原因', width: 120}
                //  , {field: 'c_name', title: '物料规格', width: 120}
                // , {field: '', title:'要求到厂时间',width: 300,align: 'center',templet(d){
                //     return d.require_time1 + ' 至 ' + d.require_time2
                //     }}
                //     , {field: 'expir_time', title: '截至送货时间', width: 210,align: 'center'}
                //     , {field: 'expir_time', title: '采购备注', width: 210,align: 'center'}
                // , {field: 'expir_time', title: '验收标准', width: 210,align: 'center'}
               
                // , {field: 'audit_status', title: '审核状态', width: 150,align: 'center', templet(d){
                //         return d.audit_status.s_text;
                //     }}
                // , {field: 'create_time', title: '创建时间', width: 200,}

                // , {field: 'update_time', title: '更新时间', width: 200,}

                // , {field: 'add_info', title: '备注', width: 150, align: 'center'}
                // , {fixed: 'right', title: '操作', align: 'center', toolbar: '#table_bar', width: 110}
            ]]
            , page: true
            ,id : 'cateList'
        });

        //头工具栏事件
        table.on('toolbar(table_ele)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(table_ele)', function (obj) {
            var data = obj.data;
            //console.log(data)
            if (obj.event === 'del') {
                layer.confirm('真的删除分类：'+ data.c_name ,{title:'警告',icon:3}, function (index) {
                    $.ajax({
                        type:'get',
                        url:'{:url("del_category")}',
                        data:{cid:data.id},
                        dataType:'json',
                        success(res){
                            if(res.code == 0){
                                obj.del();
                                layer.close(index);
                            }
                            layer.msg(res.msg)
                        }
                    });

                });
            } else if (obj.event ==='edit') {
                xadmin.open('合同详情','{:url("edit_category")}?cid='+data.id,764,680)
            }
        });
        var $ = layui.$, active = {
            reload: function () {
                var search_key = $('#search_key').val();
                var search_val = $('#search_val').val();
                if(search_key == ''){
                    layer.msg('请选择搜索类型',{icon:5});
                    return false;
                }
                if(search_val == ''){
                    layer.msg('请输入搜索内容',{icon:5});
                    return false;
                }
                //执行重载
                table.reload('cateList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        search_key,
                        search_val
                    }
                });
            }
        };
        $('#search').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('#add').click(function(){
            xadmin.open('添加材料大类','{:url("add_category")}',460,300);
        })
    })
</script>
{/block}