{extend name="layout/table_base"}
{block name="field_title"}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <!-- <legend> <span style="color: #333;">当前位置:</span>  <a href="#" style="color: #333;">首页 </a>&nbsp;/&nbsp;<a href="#" style="color: #333;">供应商管理</a>&nbsp;/&nbsp;<a href="#" >供应商信息维护</a></legend> -->
    <legend>菜单管理</legend>
</fieldset>
{/block}
{block name="table_bar"}
    <a lay-event="edit">编辑</a>
    <a lay-event="del">删除</a>
{/block}
{block name="table_data"}
<script type="text/javascript">
    layui.use(['table', 'form'], function () {
        var table = layui.table
            , form = layui.form;
        form.on('switch(status)', function (data) {
            var id = data.elem.dataset.id
                , status = 1;
            if (data.elem.checked) status = 2
            var send_data = {id: id, status: status};
            $.ajax({
                type: 'post',
                url: '{:url("change_status")}',
                data: send_data,
                dataType: 'json',
                success(res) {
                    alert(res)
                    layer.msg(res.msg)
                }
            });
        });

        table.render({
            elem: '#table_ele'
            , url: '{:url("getRuleData")}'
            // , toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print'
                //     , { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                //     title: '提示'
                //     ,layEvent: 'LAYTABLE_TIPS'
                //     ,icon: 'layui-icon-tips'
                // }
            ]
            // ,width:1085
            , limit: 15
            , limits: [15, 30, 60, 90]
            , height: 700
            , loading: true
            , title: '用户数据表'
            , cols: [[
                // {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true}
                // , {field: 'title', title: '权限名称', width: 200}
                , { title: '菜单名称', width: 300, templet(d){
                      return '丨---'.repeat(d.level-1) + d.title;
                    }}
                , {field: 'name', title: '页面路由', width: 200}
                , {title: '图标', width: 120, templet(d){
                        return d.icon ? '<i class="iconfont">&#'+ d.icon+';</i>': '未设置';
                    }}
                , {
                    title: '状态', width: 120, templet(d) {
                        if (d.status !== 1) return '<input type="checkbox" name="status" data-id="' + d.id + '" lay-skin="switch" lay-text="显示|隐藏" lay-filter="status">';
                        return '<input type="checkbox" name="status" data-id="' + d.id + '" lay-skin="switch" lay-text="显示|隐藏" checked lay-filter="status">';
                    }
                }
                , {title: '排序参数(越大越往后)', width: 300, templet(d){
                        return d.level !== 1 ? '非顶级权限,参数无效' : d.sort;
                    }}
                , {field: 'create_time', title: '创建时间', width: 240}
                , {fixed: 'right', title: '操作', align: 'center', toolbar: '#table_bar', width: 120}
            ]]
            // , page: true
            ,id : 'user'
        });

        //头工具栏事件
        table.on('toolbar(table_ele)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(table_ele)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除权限：'+ data.title ,{title:'警告',icon:3}, function (index) {
                    $.ajax({
                        type:'get',
                        url:'{:url("delRule")}',
                        data:{id:data.id},
                        dataType:'json',
                        success(res){
                            if(res.code == 0){
                                obj.del();
                                layer.close(index);
                            }
                            layer.msg(res.msg)
                        }
                    });

                });
            } else if (obj.event === 'edit') {
                xadmin.open('编辑权限','{:url("editRule")}?id=' +data.id,480,440)
            }
        });
        var $ = layui.$, active = {
            reload: function () {
                var search_key = $('#search_key').val();
                var search_val = $('#search_val').val();
                if(search_key == ''){
                    layer.msg('请选择搜索类型',{icon:5});
                    return false;
                }
                if(search_val == ''){
                    layer.msg('请输入搜索内容',{icon:5});
                    return false;
                }
                //执行重载
                table.reload('user', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        search_key,
                        search_val
                    }
                });
            }
        };
        $('#search').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('switch(status)', function (data) {
            var id = data.elem.dataset.id
                , status = 2;
            if (data.elem.checked) status = 1;
            var send_data = {id: id, status: status};
            //do something
            $.ajax({
                type: 'post',
                url: '{:url("changRuleStatus")}',
                data: send_data,
                dataType: 'json',
                success(res) {
                    layer.msg(res.msg)
                }
            })
        });
        $('#add').click(function(){
            xadmin.open('添加权限','{:url("addRule")}',480,440)
        })
    })
</script>
{/block}

