{include file="public/header"}
<style type="text/css">
    .layui-form-mid{
        padding: 4px !important;
    }
    .content{
        padding:40px 40px !important
;    }
    .demand>p,.audit>p,.table>p{
        font-size: 16px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #333333;
line-height: 10px;
    }
    .fl{
        float: left;
    }
    .fr{
        float: right;
    }
    .clear{clear: both;}
    .demand .left{
        /* margin-right: 60px; */
        margin-top: 20px;
    }
    .demand .right{
        margin-top: 20px;
        
    }
    .left p,.right p{
        font-weight: 400;
color: #666666;
line-height: 25px; 
font-size: 14px;
    }
 .demand_title{
    color: #666666 !important;
    line-height: 14px !important; 
    font-weight: 400 !important;
    font-size: 14px !important;
    margin-top: 25px;
 }
  p span{
    font-size: 14px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #333333;
line-height: 24px;
  }
  .line{
    width: 1px;
height: 105px;
background: #E6E6E6;  
margin-left: 111px;
margin-top: 27px;
  }
  .audit{
      margin-left: 60px;
  }
  #table_ele{
      margin-top: 10px;
  }
  .table .title{
      margin-bottom: 25px;
  }
  .x-body{
      padding:0 !important
  }
  .demand .number{
      margin-bottom: 40px;
  }
  .demand .need{
      padding-bottom: 15px;
  }
 .layui-btn{
    width: 100px;
height: 30px;
background: #086DF3;
border-radius: 4px;
font-size: 16px !important;
 }
 .layui-table .col{
    width: 528px;
height: 42px;
border: 1px solid #E6E6E6;
 }
 .layui-table .col th{
    font-size: 14px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #333333;
line-height: 10px;
text-align: center;
 }
 .layui-table .con td{
    font-size: 14px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #666666;
line-height: 10px;
text-align: center;
width: 528px;

height: 32px;
 }
</style>
<body>
<div class="x-body">
    <div class="content">
            <!-- 上方文字描述 -->
    <div class="describe">
      
        <div class="demand ">
            <p class="title ">需方信息</p>
            <div class="left fl" style="margin-bottom: 20px;">
               
               <p >流水号<span style="margin-left: 55px;">&nbsp;10680 </span></p> 
                <p >采购数量<span style="margin-left: 45px;">6000（吨） </span></p>
                <p >可供数量<span style="margin-left: 33px;">&nbsp; 3000（吨）</span></p>
                <!-- <p >报价截止时间<span  style="margin-left: 13px;">&nbsp; </span></p> -->
               
            </div>
            <div class="right need fr" style="margin-bottom: 20px;">
                <p >物料名称<span  style="margin-left: 39px;">&nbsp; 石子</span></p>
                <p >物料规格<span  style="margin-left: 39px;">&nbsp;10-20mm碎石</span></p>
                <p >报价截止时间<span  style="margin-left: 13px;">&nbsp; 2021-05-01 00:00:00</span></p> 
                <!-- <p >截至送货时间<span  style="margin-left: 13px;">&nbsp; </span></p>  -->

            </div>
            <div class="clear"></div>
            
        </div>
        <div class="demand ">
            <p class="title ">报价记录</p>
            <table id="table_ele" lay-filter="test"></table>
               <div class="clear"></div>     
        </div>

    </div>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['form'], function(){
        var form = layui.form;
    
        //监听提交
        form.on('submit(edit)', function(data){
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // })
            $.ajax({
                type:'post',
                url:'{:url("edit_category")}',
                data: data.field,
                dataType:'json',
                success(res){
                    if(res.code == 0){
                        layer.msg(res.msg, {icon:1}, function () {
                            parent.layer.closeAll();
                            parent.layui.table.reload('cateList');
                        });
                        return false;
                    }
                    layer.msg(res.msg, {icon:2});
                }
            });
            return false;
        });
    })
</script>
{block name="table_data"}
<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#table_ele'
            , url: '{:url("listData")}'
            , limit: 10
            , limits: [10,15,20]
            , loading: true
            , title: '材料列表'
           
            , cols: [[
              
                 {field: '', title: '报价类型',align:"center"}
                , {field: '', title: '报价金额',align:"center"}
            ]]
            // , page: true
            ,id : 'materList',
            done: function (res, curr, count){
$("table").css("width", "100%");
//这里设置表格的宽度为100%
},
        });

    })

</script>

{/block}

{include file="public/footer"}