
<!-- {extend name="layout/table_base"} -->
{block name="field_title"}
<!-- <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>采购材料1</legend>
 
</fieldset> -->
<!-- <div class="layui-breadcrumb bread" style=" margin-top: 15px;margin-bottom: 13px;" >
    <span style="font-size: 18px;">当前位置: &nbsp;</span>
    <a href="#">首页</a>
    <a href="#">物料管理</a>

    <a><cite>物料维护</cite></a>
  </div>     -->
{/block}
{block name="header"}
<form class="layui-form" action="#" style="margin-top: 20px;">
    <div class="item">
        <label class="layui-form-label" style="margin-right: 18px;">供应商</label>
        <div class="layui-input-inline">
            <select name="search_key" lay-verify="required" id="search_key" class="layui-input">
                <option value="">选择搜索类型</option>
                {volist name="search_info" id="vo"}
                <option value="{$key}">{$vo}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="item">
        <label class="layui-form-label" style="margin-right: 18px;">发送状态</label>
        <div class="layui-input-inline">
            <select name="search_key" lay-verify="required" id="search_key" class="layui-input">
                <option value="">选择发送状态</option>
                {volist name="send_info" id="vo"}
                <option value="{$key}">{$vo}</option>
                {/volist}
            </select>
        </div>
        <!-- <div class="layui-input-inline">
            <input type="text" name="search_val" id="search_val" placeholder="搜索内容" autocomplete="off"
                   class="layui-input">
        </div> -->
    </div>
    <button type="button" style="width: 50px;" id="search" class="layui-btn layui-btn-sm " data-type="reload">
        <i class="layui-icon">&#xe615;</i>
    </button>
    <!-- <button type="button" style="width: 50px;" id="add" class="layui-btn layui-btn-sm ">
        <i class="layui-icon">&#xe654;</i>
    </button> -->
    <!-- <div style="position: absolute;right: 50px;">
        <a href="javascript:location.reload();" style="width: 50px;" class="layui-btn layui-btn-sm ">
            <i class="layui-icon">&#xe669;</i>
        </a>
    </div> -->
   
</form>

{/block}
{block name="table_data"}
<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#table_ele'
            , url: '{:url("listData1")}'
            , limit: 10
            , limits: [10,15,20]
            , loading: true
            , title: '材料列表'
           
            , cols: [[
                // {type: 'checkbox', fixed: 'left'}
                 {field: 'supp_name', title: '供应商名称',align:"center",   unresize: true, sort: true}
                , {field: 'conn_phone', title: '联系电话',align:"center", }
                // , {field: 'station_name', title: '物料大类', align:"center",width: "10%"}
                // , {field: 'm_name', title: '物料名称',align:"center", width:  "10%"}
                // , {field: 'spec', title: '物料规格',align:"center", width:  "10%"}
                // , {field: 'units', title: '单位',align:"center", width: "10%"}
                // // , {field: 'conn_man', title: '联系人', width: 120}
                // // , {field: 'conn_phone', title: '联系电话', width: 140}
                // , {field: 'create_time', title: '创建时间',align:"center", width:  "16%"}
                // , {field: 'update_time', title: '修改时间', align:"center",width:  "16%"}
                ,{ title: '发送状态', align: 'center', 
                //  templet(d){
                    // if (d.audit_status.text=="未审核") return '<span style="color:#F37108">未审核</span>';
                    // if (d.audit_status.text=="已审核") return '<span style="color:#17AE10">已通过</span>';
                    // if (d.audit_status.text=="未通过") return '<span style="color:#F30808">未通过</span>';
                    //     return d.audit_status.s_text;
                    // }
                }
            ]]
            , page: true
            ,id : 'materList',
            done: function (res, curr, count){
$("table").css("width", "100%");
//这里设置表格的宽度为100%
},
        });

        //头工具栏事件
        table.on('toolbar(table_ele)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(table_ele)', function (obj) {
            var data = obj.data;
            // console.log(data)
            if (obj.event === 'del') {
                layer.confirm('真的删除材料：'+ data.m_num + '，规格：' + data.station_name+"?" ,{title:'警告',icon:3}, function (index) {
                    $.ajax({
                        type:'get',
                        url:'{:url("delRule")}',
                        data:{mid:data.id},
                        dataType:'json',
                        success(res){
                            if(res.code == 0){
                                obj.del();
                                layer.close(index);
                            }
                            layer.msg(res.msg)
                        }
                    });
                });
            } else if (obj.event ==='edit') {
                xadmin.open('编辑材料','{:url("edit_material")}?mid='+data.id,592,328)
            }
            
   
        });
        var $ = layui.$, active = {
            reload: function () {
                var search_key = $('#search_key').val();
                var search_val = $('#search_val').val();
                if(search_key == ''){
                    layer.msg('请选择搜索类型',{icon:5});
                    return false;
                }
                if(search_val == ''){
                    layer.msg('请输入搜索内容',{icon:5});
                    return false;
                }
                //执行重载
                table.reload('materList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        search_key,
                        search_val
                    }
                });
            }
        };
        $('#search').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('#add').click(function(){
            xadmin.open('添加','{:url("add_material")}',592,328);
        })
    
    })

</script>

{/block}
